
/* NAV */
.navlink {
    color: gray;
}

.navbar-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}


.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 5px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

 /* BUTTON CART */

 .btn-qty {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-qty:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-qty.disabled, .btn-qty:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  